<footer>
    <p class="description">{{ site.description }}</p>
    <nav id="sitemap">
	<ul>
	    <li>
		<a href="/about">About</a>
		<ul>
		    <li><a href="/about/links">Useful Links</a></li>
		    <li><a href="/about/colophon">Colophon</a></li>
		    <li><a href="/blog">Blog</a></li>
		</ul>
	    </li>
	    <li>
		<a href="/collections">Collections</a>
		<ul>
		    <li><a href="/collections/eppi">Enhanced Parliamentary Papers on Ireland</a></li>
		    <li><a href="/collections/ied">Irish Emigration Database</a></li>
		    <li><a href="/collections/vmr">Voices of Migration and Return</a></li>
		</ul>
	    </li>
	    <li>
		<a href="/sponsors">Sponsors</a>
		<ul>
		    <li><a href="https://www.qub.ac.uk/">Queen's University Belfast</a></li>
		    <li><a href="https:///">Centre for Migration Studies</a></li>
		    <li><a href="https://www.ahrc.ac.uk/">Arts &amp; Heritage Research Council</a></li>
		    <li><a href="https://www.ulst.ac.uk/">Ulster University</a></li>
		    <li><a href="https://www.librariesni.org.uk/">Libraries NI</a></li>
		</ul>
	    </li>
	    <li>
		<a href="/terms">Terms &amp; Conditions</a>
		<ul>
		    <li><a href="/terms/accessibility">Accessibility</a></li>
		    <li><a href="/terms/ethical-use">Ethical Use</a></li>
		    <li><a href="/terms/privacy">Privacy</a></li>
		</ul>
	    </li>
	    <li class="social">
		<a href="/connect">Connect</a>
		<ul>
		    <li><a href="mailto:hello@dippam.ac.uk">hello@dippam.ac.uk</a></li>
		    <li><a href="https://twitter.com/">Twitter</a></li>
		    <li><a href="https://facebook.com/">Facebook</a></li>
		    <li><a href="https://instagram.com/">Instagram</a></li>
		    <li><a href="https://youtube.com/">Youtube</a></li>
		    <li><a href="https://github.com/dippam"><span class="icon">{% include icon-github.svg %}</span> dippam</a></li>
		</ul>
	    </li>
	</ul>
    </nav>
    <div>
	<p>Copyright &copy; <script>document.write((new Date()).getFullYear())</script> DIPPAM Project.  All Rights Reserved.</p>
    </div>
</footer>

